<div class="jumbotron mt-4">
    <h1 class= "display -4"> Proveedores de Viajes</h1>
    <p class ="lead">Pagina de los proveedores</p>
    <hr class ="my -4">
    <p>Bienvenido a la agencia de viajes Sistemas Distribuidos, en esta parte podrá registrarse y formar parte de la comunidad de proveedores con capacidad de subir ofertas a nuestro servidor de viajes</p>
    <a href="http://localhost:3100/" class="btn btn-primary btn-lg">Agencia de Viajes</a>

</div>