<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Registro de la cuenta proveedor
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="text" class="form-ccontrol" name="name" placeholder="Nombre">
                    </div>
                     <div class="form-group">
                        <input type="email" class="form-ccontrol" name="email" placeholder="Email">
                    </div>
                     <div class="form-group">
                        <input type="password" class="form-ccontrol" name="password" placeholder="Constraseña">
                    </div>
                     <div class="form-group">
                        <input type="password" class="form-ccontrol" name="passwordConf" placeholder="Confirma la constraseña">
                    </div>
                    <div class="form-group">
                        <button type="submit" class ="btn btn-primary btn-block" >
                            Registrarse
                        </button>
                    </div>
            </form>
            </div>
        </div>
    </div>
</div>